html{
    box-sizing:border-box;
}
*,*:before,*:after{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    line-height:1;
    color:#202020;
    background-color:#fafafa;
}
.header{
border-bottom:solid 1px #ca2100;
background-color:#db4c3f;
box-shadow: 0 1px 5px rgba(0,0,0,0.15);
height:44px;
width:100%;

nav{
    height:100%;
    max-width:922px;
    display:flex;
    align-items:center;
    margin:auto;
}
}
.content{
    display:flex;
    max-width:922px;
    
    margin:auto;
}
.sidebar{
    user-select: none;
    height:100vh;
    width:266px;
    padding-top: 74px;
    border-right:1px solid #f1f1f1;
    background-color: #fafafa;
    div{
        margin-bottom:10px;
        cursor: pointer;
        padding :15px;
        &.active{
            background:white
        }
    
    .icon{
        margin-right: 10px;
    }
}
}
.tasks{
    padding-top: 74px;
}
